* {
    /* box-shadow: 0 0 0 1px orange; */
}
html{
    font-size: 62.5%; /* 16px × 62.5% = 10px*/
    scroll-behavior: smooth;
}
body{
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;
    color: #222;
}
a:visited{
    color: #222;
}
.text-center{
    text-align: center;
    background-size: cover;
    background-position: center top;
}

.iframe-wrapper{
    position: relative;
    padding-bottom: 56.25%; /* アスペクト比16:9の場合 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 2rem; /* YouTubeの下に余白をつける */
}

.iframe-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.admin{
    font-size: 8px;
    padding: 2px;
    color: #fff;
    background-color: #f00;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.input{
    display: flex;
    align-items: start;
    position: absolute;
    top: 70vw;
}

#uname, #text{
    margin: 0 5px 0 0;
}

#comment_category{
    padding: 1px;
}


.container div {
    left: 100%;
    display: inline-block; 
    white-space: nowrap;
    animation-name: marquee; /* アニメーションのクラス名 */
    animation-timing-function: linear; /* アニメーションのタイミング・進行割合の指定 */
    animation-duration: 60s; /* アニメーションの速度 */
    animation-iteration-count: 1; /* アニメーションの動作回数 */
    position: absolute;
    top: 65vw;
    display: flex;
    align-items: start;
}

.container div:hover{
    animation-play-state: paused;
}

.container p{
    margin: 0 3px 0 0;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #222;
    line-height: 1.2;
    background-color: #fff;
    font-size: 8px;
}

.question{
    width: 24px;
    margin: 0;
}

.idea{
    width: 18px;
    margin: 0 3px 0 0;
}

.like, .dislike{
    width: 16px;
    margin: 0 3px 0 0;
}

@keyframes marquee {
    from   { left: 100%; } 
    99%, to { left: -100%; }
}
