* {
    /* box-shadow: 0 0 0 1px orange; */
}
html{
    font-size: 62.5%; /* 16px × 62.5% = 10px*/
    scroll-behavior: smooth;
}
body{
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;
    color: #222;
}
a:visited{
    color: #222;
}
.text-center{
    text-align: center;
    background-size: cover;
    background-position: center top;
}

.iframe-wrapper{
    position: relative;
    padding-bottom: 56.25%; /* アスペクト比16:9の場合 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 2rem; /* YouTubeの下に余白をつける */
}

.iframe-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container p {
    left: 100%;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    line-height: 1.2;
    background-color: #fff;
    display: inline-block; 
    white-space: nowrap;
    animation-name: marquee; /* アニメーションのクラス名 */
    animation-timing-function: linear; /* アニメーションのタイミング・進行割合の指定 */
    animation-duration: 30s; /* アニメーションの速度 */
    animation-iteration-count: 1; /* アニメーションの動作回数 */
    position: absolute;
    top: 30;
    font-size: 12px;
    display: inline-block;
}

.container p:hover{
    animation-play-state: paused;
}

@keyframes marquee {
    from   { left: 100%; } 
    99%, to { left: -100%; }
}
